body {
  margin:0px;
}

.container {
  background: #fee;
  width: 1000px;
  margin: auto;
  overflow: auto;
}

.card {
  position: relative;
  height: 200px;
  background: #399;
  width: 65%;
  top: -200px;
}

.deck {
}

.card-holder {
  padding: 20px;
  position: relative;
}

.pull-up {
  margin-top: -180px;
}

.card-image-left {
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 99% 100%, 0 100%);
}

.card-image-right {
  height: 100%;
  float:right;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 1% 100%);
}

.shadow {
  top: 10px;
  left: 10px;
  background: #676767;
}

.card-left {
  float: left;
  -webkit-clip-path: polygon(0 0, 99% 2%, 98% 95%, 1% 100%);
}

.card-right {
  float: right;
  -webkit-clip-path: polygon(1% 2%, 100% 0%, 99% 100%, 2% 95%);
}
